.noteList {
	border-radius: 20px;
	background-color: var(--primary);
	flex-basis: 30%;

	@media screen and (max-width: 1024px) {
		flex-basis: 25%;
	}
}

.noteItem {
	&:first-child {
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;

		> a {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}

	&:last-child {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;

		> a {
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
	}
}

.noteLink {
	font-size: 22px;
	color: var(--text);
	padding: 8px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: background-color 0.2s;

	&:hover {
		background-color: #a16f39;
	}

	@media screen and (max-width: 1440px) {
		font-size: 18px;
	}

	@media screen and (max-width: 810px) {
		font-size: 16px;
		padding: 4px 8px;
	}
}
