.lastNote {
	flex-basis: 40%;
	background-color: var(--primary);
	border-radius: 20px;
	color: var(--text);
	padding: 20px;
	max-height: 244px;
	overflow-y: hidden;

	@media screen and (max-width: 1300px) {
		flex-basis: 30%;
	}

	@media screen and (max-width: 768px) {
		flex-basis: 100%;
		width: 100%;
		margin-bottom: 30px;
	}

	@media screen and (max-width: 400px) {
		padding: 10px;
	}
}

.noteTitle {
	font-size: 22px;
	margin-bottom: 20px;

	@media screen and (max-width: 1330px) {
		font-size: 20px;
		margin-bottom: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@media screen and (max-width: 400px) {
		font-size: 18px;
	}
}

.noteText {
	font-size: 18px;
	max-height: 165px;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 1px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--secondary);
		border-radius: 20px;
	}

	@media screen and (max-width: 400px) {
		font-size: 16px;
	}
}
