:root {
	--text: #110b05;
	--background: #fcf8f6;
	--primary: #c58947;
	--secondary: #daf287;
}

html,
body {
	max-width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--background);
	color: var(--text);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
