.rootAccordion {
	width: 1000px;
	margin: 0 auto;
	border-radius: 10px;

	@media screen and (max-width: 1100px) {
		width: 800px;
	}

	@media screen and (max-width: 830px) {
		width: 600px;
	}

	@media screen and (max-width: 630px) {
		width: 400px;
	}

	@media screen and (max-width: 430px) {
		width: 340px;
	}
}

.accordionItem {
	padding: 10px;
}

.accordionTrigger {
	color: var(--text);
	font-size: 20px;
}

.accordionContent {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.metric {
	border: 1px solid #6d6d6d;
	padding: 5px;
	font-size: 18px;
}

.value {
	border: 1px solid #6d6d6d;
	padding: 5px;
	font-size: 18px;
}

.metricValue {
	border: 1px solid #6d6d6d;
	padding: 5px;
	font-size: 16px;
}

.valueValue {
	border: 1px solid #6d6d6d;
	padding: 5px;
	font-size: 16px;
}

.positiveChange {
	> .valueValue {
		background-color: rgb(6, 87, 6);
	}
}

.retention {
	> .valueValue {
		background-color: rgb(140, 140, 1);
	}
}

.negativeChange {
	> .valueValue {
		background-color: rgb(156, 3, 3);
	}
}
