.weekBoard {
	background-color: var(--primary);
	border-radius: 20px;
	padding: 20px;
}

.days {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 70px;
	justify-content: center;

	@media screen and (max-width: 1440px) {
		gap: 20px 50px;
	}

	@media screen and (max-width: 900px) {
		gap: 20px 30px;
	}
}
